<!-- links to other views -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#">home</a></li>
  <li><a href="/pages/help">help</a></li>
</ul>

<div class="container">
  <br>
  <p>this is the home page!</p>
</div>
